<article class="p-4 flex flex-col items-center justify-center border-y">
  <ul class="flex gap-4 text-xs border-b w-fit pb-2">
    <li>twitter/x</li>
    <li>instagram</li>
    <li>tiktok</li>
  </ul>
  <ul class="flex gap-4 text-xs pt-2">
    <li>faq</li>
    <li>contact</li>
    <li>refunds</li>
    <li>terms</li>
    <li>private policy</li>
  </ul>
</article>
<article class="p-4 flex flex-col items-center justify-center gap-1 border-b">
  <p class="text-sm">be the first to hear of releases:</p>
  <p class="border rounded-md overflow-hidden">
    <input
      type="text"
      placeholder="enter email address"
      class="px-2 uppercase text-base outline-0"
    />
    <button
      class="border-l border-l-black rounded-sm px-2 uppercase bg-orange-500 text-white"
    >
      subscribe
    </button>
  </p>
</article>
<p class="flex items-center justify-between px-4 py-1 text-sm">
  <span>by b.</span>
  <span>© {{ currentYear }}, garm.</span>
</p>
