<nav
  class="flex justify-between items-center px-4 gap-6 border-b font-medium sticky top-0 z-20 bg-white lg:text-xl lg:px-6"
>
  <button
    [ngClass]="{
      'uppercase py-2.5 w-1/3 text-left lg:hidden': true,
      'border-r': isNavOpen()
    }"
    (click)="[toggleNav(), selectedMenu.set(undefined)]"
  >
    menu
  </button>
  <ul class="flex items-center justify-end w-full lg:justify-between">
    <div
      [ngClass]="{
        'flex gap-12 cursor-pointer lg:flex': true,
        'hidden': !isNavOpen(),
      }"
    >
      @for (item of ['shop','collections','more']; track $index) {
      <li
        class="h-12 flex items-center justify-center hover:scale-90 hover:transition-all"
        (mouseover)="selectedMenu.set(item)"
      >
        {{ item }}
      </li>
      }
    </div>

    <div
      [ngClass]="{
        hidden: isNavOpen(),
        'flex items-center gap-8 [&_li]:cursor-pointer [&_li]:hover:scale-90 [&_li]:hover:transition-all': true
      }"
    >
      <li (click)="toggleSearch()">search</li>
      <li class="relative">
        cart<span class="absolute -top-2 text-sm text-orange-500 underline"
          >0</span
        >
      </li>
    </div>
  </ul>
</nav>

@if (selectedMenu()) {
<menu
  class="p-4 overflow-hidden flex flex-col border-b"
  (mouseleave)="selectedMenu.set(undefined)"
>
  <article
    class="flex flex-col h-[300px] overflow-auto flex-wrap gap-y-6 lg:mb-8 lg:h-fit lg:flex-row lg:gap-x-12"
  >
    @for (menu of submenu(); track $index) {
    <div class="flex flex-col items-center gap-2">
      <li class="font-bold">{{ menu.name }}</li>
      @for (option of menu.options; track $index) {
      <li>{{ option }}</li>
      }
    </div>
    }
  </article>
  <button class="mx-auto lg:hidden" (click)="selectedMenu.set(undefined)">
    <e-icon [img]="clearIcon" class="text-red-600" />
  </button>
</menu>
} @if (isSearchStart()) {
<article class="inset-0 absolute">
  <div
    class="bg-[rgba(0,0,0,0.8)] inset-0 fixed"
    (click)="toggleSearch()"
  ></div>
  <div
    class="bg-white w-full flex items-center gap-3 fixed top-0 px-4 h-14 md:w-3/5 md:inset-x-1/5 md:inset-y-1/5 md:rounded-xl lg:w-2/4 lg:rounded-xl lg:inset-x-1/4 lg:inset-y-1/5 xl:w-2/6 xl:inset-x-2/6 2xl:w-1/5 2xl:inset-x-5/12"
  >
    <e-icon [img]="searchIcon" [size]="18" />
    <input
      type="text"
      name="search"
      class="w-full text-left font-medium outline-0"
      placeholder="SEARCH..."
      [formControl]="searchInput$"
    />
    @if(searchInput$.value){
    <e-icon
      [img]="clearIcon"
      [size]="18"
      (click)="searchInput$.reset()"
      class="pl-1 py-2"
    />
    }
  </div>
</article>
}
