<article class="flex gap-4">
  <div class="relative w-48 h-32 border">
    <e-img imgPath="img5.avif" />
  </div>
  <div class="flex justify-between w-full">
    <div class="flex flex-col justify-between">
      <div>
        <p>formal pants</p>
        <p class="text-gray-600">28</p>
      </div>
      <div class="flex items-center gap-4">
        <e-icon [img]="minusIcon" class="text-orange-600" />
        <p class="font-bold">4</p>
        <e-icon [img]="plusIcon" class="text-orange-600" />
      </div>
    </div>
    <div class="flex flex-col justify-between items-end">
      <div class="text-right">
        <p class="text-lg">$400</p>
        <p class="text-gray-600 line-through">$400</p>
      </div>
      <e-icon [img]="closeIcon" class="p-1 text-orange-600" />
    </div>
  </div>
</article>
